<article id="post">
    <img class="avatar" style="float: left" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg">
    <div class="avatar-profilename">ugoforchris</div>
    <div class="arrow_box">
        Craving Lomein
        <span class="day pull-right">1d</span>
    </div>
    <!--comments start-->
    <div data-slickid="742" class="ugslider slick-initialized slick-slider">
        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" role="listbox" style="opacity: 1; width: 1600px; transform: translate3d(-320px, 0px, 0px);">
                <div class="ugslider-slides slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 320px;">
                    <div class="ugslider-slide">
                        <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                        <div class="responder-comment">
                            <span class="responder-profilename">ugoforchris </span>
                            <div class="arrow-box-responder">Bing Bang</div>
                        </div>
                    </div>
                </div><div class="ugslider-slides slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide30" style="width: 320px;">
                    <div class="ugslider-slide">
                        <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                        <div class="responder-comment">
                            <span class="responder-profilename">ugoforchris </span>
                            <div class="arrow-box-responder">Hmmm</div>
                        </div>
                    </div>
                </div><div class="ugslider-slides slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide31" style="width: 320px;">
                    <div class="ugslider-slide">
                        <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                        <div class="responder-comment">
                            <span class="responder-profilename">ugoforchris </span>
                            <div class="arrow-box-responder">Ha!!</div>
                        </div>
                    </div>
                </div><div class="ugslider-slides slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide32" style="width: 320px;">
                    <div class="ugslider-slide">
                        <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                        <div class="responder-comment">
                            <span class="responder-profilename">ugoforchris </span>
                            <div class="arrow-box-responder">Bing Bang</div>
                        </div>
                    </div>
                </div><div class="ugslider-slides slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 320px;">
                    <div class="ugslider-slide">
                        <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                        <div class="responder-comment">
                            <span class="responder-profilename">ugoforchris </span>
                            <div class="arrow-box-responder">Hmmm</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end comments-->
    <span><img src="img/cravesmile.jpg" class="cover ugslider-cover"></span>
    <!--share-comment start-->
    <div class="share-comment ugslider-display">
        <div class="share-comment-icons" data-postid="742">
            <a class="yum-icon"><img class="yum-icon-img"></a>
            <a class="gross-icon"><img class="gross-icon-img"></a>
        </div>
    </div>
    <!--end share-comment-->
    <!--crave start-->
    <div class="crave-comment">
        <span class="crave-count"><span data-slideid="742">1</span>/3</span>
        <a class="crave-icon" data-postid="742"><img src="img/icons/comment.png" style="height:35px;"></a>
    </div>
    <!--end crave-->
    <div class="big-comment">
        <div class="big-comment-yellow">
            <span class="comment-location">Carle Place, NY, USA</span>
        </div>
    </div>
</article>

<!----------------------------------------->

<article id="post">
    <img class="avatar" style="float: left" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg">
    <div class="avatar-profilename">ugoforchris</div>
    <div class="arrow_box">
        Craving Pizza!
        <span class="day pull-right">29d</span>
    </div>
    <!--comments start-->
    <div data-slickid="703" class="ugslider-730">
        <div class="ugslider-slides">
            <div class="ugslider-slide">
                <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                <div class="responder-comment">
                    <span class="responder-profilename">ugoforchris </span>
                    <div class="arrow-box-responder">Dominoes</div>
                </div>
            </div>
        </div>
        <div class="ugslider-slides">
            <div class="ugslider-slide">
                <img class="avatar2" src="https://ugoforstore.blob.core.windows.net/ugoforphoto/98dd712a-f4f5-e68c-71db-9b063e652b56_cdv_photo_002.jpg ">
                <div class="responder-comment">
                    <span class="responder-profilename">ugoforchris </span>
                    <div class="arrow-box-responder">Johns</div>
                </div>
            </div>
        </div>
    </div>
    <!--end comments-->
    <span><img src="img/cravesmile.jpg" class="cover ugslider-cover"></span>
    <!--share-comment start-->
    <div class="share-comment ugslider-display">
        <div class="share-comment-icons" data-postid="703">
            <a class="yum-icon-730"><img class="yum-icon-img"></a>
            <a class="gross-icon-730"><img class="gross-icon-img"></a>
        </div>
    </div>
    <!--end share-comment-->
    <!--crave start-->
    <div class="crave-comment">
        <span class="crave-count"><span data-slideid="703">1</span>/2</span>
        <a class="crave-icon" data-postid="703"><img src="img/icons/comment.png" style="height:35px;"></a>
    </div>
    <!--end crave-->
    <div class="big-comment">
        <div class="big-comment-yellow">
            <span class="comment-location">Elwood, NY, USA</span>
        </div>
    </div>
</article>