:not(input):not(textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/*GENERAL*/

body {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 18px;
}

.page {
    max-width: 891px;
}

h4 {
    font-family: 'Yanone Kaffeesatz',sans-serif;
}

.cover {
    width: 100%;
    margin-top: -30px;
}

.extra-space {
    height: 50px;
    width: 100%;
}

.extra-space1 {
    height: 63px;
    width: 100%;
}

.waitSpinner{
    background-image:url('../img/spiffy.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:35px 35px;
}

@media ( max-width: 800px) {
    .icon_nav {
        top: 0;
        right: 0;
    }
}

@media ( max-width: 240px) {
    .icon_nav {
        position: relative;
        top: 0;
    }
}

/*MAIN NAVIGATION*/

.back-button {
    position: absolute;
    left: 0;
    z-index: 1000;
}

.back-button img {
    height: 25px;
    width: 25px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.settings-button {
    position: absolute;
    right: 0;
    z-index: 1000;
}

.settings-button img {
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.refresh-button {
    position: absolute;
    left: 0;
    z-index: 1000;
}

.refresh-button img {
    height: 25px;
    width: 25px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.icon-bar > a:hover {
    background-color: transparent !important;
}

.numberCircle {
    border-radius: 50%;
    margin-left:11px;
    margin-top:13.5px;
    background: #008EBD;
    border: 2px solid #008EBD;
    color: #fff;
    font: 12px Arial,sans-serif;
    font-weight: 700;
    position: absolute;

}

/*FEED*/

#post {
    margin-bottom: 30px;
}

.avatar {
    margin-right: 10px;
    float: left;
    max-width: 90px;
    margin-bottom: -15px;
    position: relative;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
    border: 1px solid #fff;
    display: inline-block;
}

.avatar-profilename {
    color: #f79421;
    font-size: 14px;
    font-weight: 600;
}

@media ( max-width: 768px ) {
    .avatar {
        max-width: 78px;
    }
}

.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    padding: 4px 5px 5px;
    display: inline-block;
    width: 600px;
    margin-left: -6px;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-shadow: -4px 6px 15px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: -4px 6px 15px -1px rgba(0,0,0,0.35);
    box-shadow: -4px 6px 15px -1px rgba(0,0,0,0.35);
}

@media ( max-width: 800px) {
    .arrow_box {
        width: 84%;
    }
}

@media ( max-width: 533px) {
    .arrow_box {
        width: 82%;
    }
}

@media ( max-width: 414px) {
    .arrow_box {
        width: 75%;
    }
}

@media ( max-width: 375px) {
    .arrow_box {
        width: 72%;
    }
}

@media ( max-width: 360px) {
    .arrow_box {
        width: 71%;
    }
}

@media ( max-width: 320px) {
    .arrow_box {
        width: 67%;
    }
}

@media ( max-width: 240px) {
    .arrow_box {
        width: 57%;
    }
}

@media ( max-width: 176px) {
    .arrow_box {
        width: 100%;
    }
}

.arrow_box:after,.arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255,255,255,0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-color: rgba(170,170,170,0);
    border-right-color: #aaa;
    border-width: 11px;
    margin-top: -11px;
}

.day {
    padding-right: 4px;
}

.big-comment {
    background: #fff;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 6px 3px 0 rgba(179,179,179,0.81);
    -moz-box-shadow: 0 6px 3px 0 rgba(179,179,179,0.81);
    box-shadow: 0 6px 3px 0 rgba(179,179,179,0.81);
}

.big-comment-yellow {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #f79421;
    color: #fff;
}

.scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    /*height: 100%;*/
    background: #fff;
}

.ugslider {
    margin-top: 30px;
}

.ugslider-cover {
    margin-top: -136px;
}

@media ( max-width: 363px) {
    .ugslider-cover {
        /*margin-top: -156px;*/
    }
}

.ugslider-display {
    display: none;
}

.ugslider-visibility {
    visibility: hidden;
}

.avatar2 {
    float: right;
    max-width: 70px;
    position: relative;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
    border: 1px solid #fff;
    display: inline-block;
}

.responder-profilename {
    color: #f79421;
    font-size: 14px;
    font-weight: 600;
    float: right;
    margin-top: -22px;
    padding-right: 10px;
}

.responder-comment {
    margin-top: 5%;
    display: inline-block;
    float: right;
    min-width: 180px;
    text-align: right;
    width: 55%;
    margin-right: 4px;
}

.arrow-box-responder:after,.arrow-box-responder:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-responder:after {
    border-color: rgba(255,255,255,0);
    border-left-color: #fff;
    border-width: 8px;
    margin-top: -8px;
}

.arrow-box-responder:before {
    border-color: rgba(170,170,170,0);
    border-left-color: #aaa;
    border-width: 9px;
    margin-top: -9px;
}

.arrow-box-responder {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    padding: 2px 3px 3px;
    display: inline-block;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-shadow: -4px 6px 15px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: -4px 6px 15px -1px rgba(0,0,0,0.35);
    box-shadow: -4px 6px 15px -1px rgba(0,0,0,0.35);
    font-size: 16px;
    width: 100%;
    text-align: left;
    opacity: .85;
}

.crave-comment {
    text-align: right;
    background-color: #4A494A;
    padding-right: 5px;
    padding-bottom: 5px;
}

.share-comment {
    width: 100%;
    position: absolute;
}

.share-comment-icons {
    width: 100%;
    padding: 3px;
    position: absolute;
    top: -40px;
    background-color: rgba(74,73,74,.5);
    text-align: right;
}

/*SIGN UP & LOGIN*/

.signlogin-panel {
    padding: 15px 15px 5px;
    margin-top: 60px;
}

.signlogin-panel form input,UNUSED.signlogin-panel form span {
    height: 50px;
    font-size: 18px;
}

.signlogin-panel button {
    height: 65px;
    width: 130px;
    background-color: #f79421;
    margin-bottom: .15rem;
    background-image: url(../img/signupbtn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.signlogin-panel .button:hover,.button:focus {
    background-color: #F79621;
}

[data-abide] .error small.error {
    background-color: #F79621;
    padding: 0 0 0 5px;
}

.picerror {
    background-color: #F79621;
    padding: 0 0 0 5px;
    max-width: 175px;
    display: none;
    color: #fff;
    font-size: .75rem;
    font-style: italic;
    font-weight: 400;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 22px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    border-top: 4px double #525e6a;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.sign-login {
    background: #fff;
    padding: 6px 8px;
}

.pull-right {
    float: right;
}

@media ( max-width: 375px ) {
    .big-comments p {
        max-width: 300px;
    }
}

@media ( min-width: 768px ) {
    .login {
        max-width: 400px;
    }
}

@media ( max-width: 767px ) {
    .login input {
        width: 100%;
    }
}

/*UGOPOST*/

.ugBtn {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 50px !important;
    font-weight: bolder;
    padding: 0 !important;
    margin-bottom: .5rem !important;
    letter-spacing: -2.5px;
}

.littleBtn {
    height: 60px;
    width: 130px;
}

.raveCrave {
    height: 65px;
    width: 130px;
}

.shareYum {
    height: 65px;
    width: 130px;
    margin-bottom: .15rem;
    background-color: #f79421;
}

.shareYumBtn .button:hover,.button:focus {
    background-color: #f79421;
}

.raveCraveBtn .button:hover,.button:focus {
    background-color: #008EBD;
}

.mfp-close,.mfp-close:active {
    width: 44px;
    height: 47px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: -55px;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: White;
    font-style: normal;
    font-size: 42px;
    -moz-border-radius: 25px; /* or 50% */
    border-radius: 25px; /* or 50% */
    background-color: transparent !important;
    border: 3px solid white !important;
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: White;
}

/*follow*/

.follow-layout {
    padding-top:5px;
    padding-left:8%; 
    margin:0;
    background-color:#555;
}

.follow-layout-profile{
    color:white;
}

.follow-layout-cell {
    padding-left:30%;
}

/*SETTINGS*/

.setting-layout {
    text-align: left;
    font-size: 22px;
}

.setting-layout a {
    width: 140px;
}

/*PROFILE*/

.bump {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    margin:0 !important;
}

.profile-card {
    padding-top: 15px;
    padding-bottom: 0;
    background: #555;
    overflow: hidden;
}

.profile-card h4 {
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    line-height: 26px;
}

.profile-card h4 span {
    font-size: 20px;
    color: #FFF;
    display: block;
}

.profile-card img {
    border: 2px solid #FFF;
}

.profile-card .button-group {
    width: 102%;
}

.profile-card .button-group .button {
    margin-bottom: 0;
    border-top: none;
    border-left: none;
    border-right: 2px solid #2B2937;
    border-bottom: none;
    background-color: #F79621;
    height: 80px;
    padding-top: 15px;
    margin-top: 20px;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
    box-shadow: none;
}

.profile-card .button-group .button span {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .profile-card img {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .profile-card h4,.profile-card p {
        text-align: center;
    }

    .profile-card .button-group .button {
        font-size: 14px;
    }

    .profile-card .button-group .button span {
        font-size: 20px;
    }
}